.inventory {
  text-align: center;
  overflow: hidden;
  border: 2px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
}
.card-img {
  width: 400px;
  margin: 0 auto;
  padding-right: 30px;
}
.details {
  line-height: normal;
}
